name: Usage
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04, ubuntu-22.04]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/github-script@v7
        with:
          script: |
            await core.summary
              .addHeading('Test Results')
              .addTable([
                [{data: 'File', header: true}, {data: 'Result', header: true}],
                ['foo.js', 'Pass ✅'],
                ['bar.js', 'Fail ❌'],
                ['test.js', 'Pass ✅']
              ])
              .addLink('View staging deployment!', 'https://github.com')
              .write()
      - uses: austenstone/job-summary@main
        id: usage
        with:
          name: job-summary-${{ matrix.os }}
          create-md-artifact: true
          create-pdf-artifact: true
          create-html-artifact: true
      - run: echo '${{ toJson(steps.usage.outputs) }}'
      - run: echo "${{ steps.usage.outputs.job-summary }}"
      - run: cat "${{ steps.usage.outputs.md-file }}"
      - run: cat "${{ steps.usage.outputs.pdf-file }}"
      - run: cat "${{ steps.usage.outputs.html-file }}"